<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.attendance.dao.AttendanceDao">
    <resultMap id="AttendanceMap" type="com.example.attendance.entity.Attendance">
        <result column="username" property="username"/>
        <result column="type" property="type"/>
        <result column="date" property="date"/>
    </resultMap>

    <select id="findByUsername" resultMap="AttendanceMap">
        SELECT * FROM attendance WHERE username = #{username};
    </select>

    <insert id="insert" parameterType="com.example.attendance.entity.Attendance">
        INSERT INTO attendance (username, type, date) VALUES (#{username}, #{type}, #{date});
    </insert>
</mapper>